FB_VERIFY_TOKEN=your_verify_token_here
FB_PAGE_ACCESS_TOKEN=your_page_access_token_here
FB_APP_ID=your_facebook_app_id

AIRTABLE_API_KEY=your_airtable_api_key
AIRTABLE_BASE_ID=your_airtable_base_id
AIRTABLE_TABLE_NAME=Leads

SENDGRID_API_KEY=your_sendgrid_api_key
EMAIL_FROM=thecoverageguru@gmail.com

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

ADMIN_SECRET=your_admin_secret_here

BOOKING_LINK=https://scheduler.zoom.us/zuzickorganization-07q/affordable-coverage-consultation--cz5pww06
